h1 {
    color: aliceblue;
}

i {
  color:antiquewhite;
  margin: .3rem;
}

.NavBar {
    background-color: rgb(41, 39, 56);
    border: 1px solid gray;
    
}

.Active i {
    color: #dde1f0;
  }

  .navbarUser {
    color: aliceblue;
  }