h1 {
    color: aliceblue;
}

span {
  font-size: large;
 
}

i {
  color:rgb(223, 30, 30);
  margin: .3rem;
}

.NavBar {
    background-color: rgb(41, 39, 56);
    border: 1px solid gray;
    
}

.Active i {
    color: #dde1f0;
  }

  .navbarUser {
    color: aliceblue;
  }

  .navBarLinks {
    margin: 0 2rem;
  
  }