.Project {
    background-color: #edede9;
    border: 1px solid #dadadf;
    border-radius: 2px;
    text-align: center;
    max-width: 80rem;
    padding: 2rem .3rem;
    margin-top: 3.9rem;
}



.projectCardBody {
    font-size: 1.4rem;
}

.projectCard{
    margin: 1rem;
}

.backgroundClosed {
    background-color: #d6b80d;
}
.backgroundOpen {
    background-color: #edede9;
   
}

span {
    font-size: .9rem;
    color: #47565cfd;
    padding-right: 1rem;
   
}
.issueButton {
   
    background-color: #8da2b8;
    border: 1px solid #dadadf;
    border-radius: 2px;
    padding: .3rem .8rem;
    margin: 1rem;
    cursor: pointer;
    color: #080808fd;
    font-size: .8rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color .3s;
    border-radius: .3rem;
}

.issueButton:focus {
    background-color:#7195b9;
    color: black
}


.deleteButton {
    background-color: #dd4338;
    border: 1px solid #dadadf;
    border-radius: 2px;
    padding: .5rem 1rem;
    margin: 1rem;
    cursor: pointer;
    color: #080808fd;
    font-size: .6rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color .3s;
    border-radius: .3rem;
}
.editButton {
    background-color: #63cae4;
    border: 1px solid #dadadf;
    border-radius: 2px;
    padding: .5rem 1rem;
    margin: 1rem;
    cursor: pointer;
    color: #080808fd;
    font-size: .6rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color .3s;
    border-radius: .3rem;
}
.issueNr {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: .2rem .4rem .4rem .4rem;
    border-radius: 10%;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.banner {
    padding: 2rem;
    background-color: aliceblue;
    border: 1px solid black;
}

.AlertModal {
    z-index:10001;
     left: 20%;
     top: 10%;
     height:50%; 
     width:60%;
     text-align:center;
 }
 
 .Backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5); 
     z-index: 10000; 
   }