.Project {
    background-color: #eaeadb;
    border: 1px solid #dadadf;
    border-radius: 2px;
    text-align: center;
    max-width: 80rem;
    padding: 2rem .3rem;
    margin-top: 3.9rem;

}

.projectCard{
 
    margin: 1rem;
   
}

span {
    font-size: .9rem;
    color: #47565cfd;
    padding-right: 1rem;
   
}
.issueButton {
   
    background-color: #7195b9;
    border: 1px solid #dadadf;
    border-radius: 2px;
    padding: .5rem 1rem;
    margin: 1rem;
    cursor: pointer;
    color: #080808fd;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color .3s;
}

.issueButton:focus {
    background-color:#7195b9;
    color: black
}


.deleteButton {
    background-color: #dd4338;
    border: 1px solid #dadadf;
    border-radius: 2px;
    padding: .5rem 1rem;
    margin: 1rem;
    cursor: pointer;
    color: #080808fd;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color .3s;
}
.editButton {
    background-color: #63cae4;
    border: 1px solid #dadadf;
    border-radius: 2px;
    padding: .5rem 1rem;
    margin: 1rem;
    cursor: pointer;
    color: #080808fd;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color .3s;
}
.issueNr {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: .2rem .4rem .4rem .4rem;
    border-radius: 10%;
    font-size: 1.2rem;
    margin-left: 1rem;
}

.banner {
    padding: 2rem;
    background-color: aliceblue;
    border: 1px solid black;
}

