.Project {
    background-color: #eaeadb;
    border: 1px solid #dadadf;
    border-radius: 2px;
    
    text-align: center;
    max-width: 80rem;
    padding: 2rem .3rem;
    margin-top:2rem;

}

.projectCard{
 
    margin: 1rem;
   
}

span {
    font-size: .9rem;
    color: #47565cfd;
    padding-right: 1rem;
   
}
