.loadingBadge {
    color: #28266e; 
    font-size: 2rem; 
    margin: 1rem; 
    animation: spin .66s linear infinite; 
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }